appdirs==1.4.4
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
comtypes==1.1.7
decorator==4.4.2
dict2xml==1.7.0
distlib==0.3.1
Django==3.1.4
django-ckeditor==6.1.0
django-js-asset==1.2.2
djangorestframework==3.12.2
filelock==3.0.12
Flask==1.1.2
html-parser==0.2
idna==2.10
iniconfig==1.1.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.7.0
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.8
pandas==1.2.0
parso==0.8.1
phonenumbers==8.12.31
phonenumberslite==8.12.31
pickleshare==0.7.5
pluggy==0.13.1
ply==3.11
prompt-toolkit==3.0.8
psutil==5.8.0
py==1.10.0
Pygments==2.7.3
pyparsing==2.4.7
pypiwin32==223
python-dateutil==2.8.1
python-dotenv==0.19.0
pytz==2020.5
pywin32==228
pyzmq==20.0.0
requests==2.25.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.2
virtualenv==20.2.2
wcwidth==0.2.5
Werkzeug==1.0.1
xmltodict==0.12.0
